* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
table,
thead,
tbody {
  display: block;
  font-weight: 400;
}

tbody {
  font-weight: normal;
}

/* th {
  font-weight: 400;
} */

@font-face {
  font-family: 'Circe';
  src: local('Circe');
  src: url('./fonts/fonts/circe.woff2') format('woff2'),
    url('./fonts/fonts/circe.woff') format('woff'),
    url('./fonts/fonts/circe.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Circe';
  src: local('Circe');
  src: url('./fonts/fonts/circe_bold.woff2') format('woff2'),
    url('./fonts/fonts/circe_bold.woff') format('woff'),
    url('./fonts/fonts/circe_bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

/* @font-face {
  font-family: 'Circe';
  src: url('./fonts/circe_light.woff2') format('woff2'),
    url('./fonts/circe_light.woff') format('woff'),
    url('./fonts/circe_light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
} */

body {
  font-family: 'Circe', sans-serif;
  font-size: 16px;
  font-weight: 400;
}

main {
  background-color: #edeef4;
  height: 100vh;
  padding-top: 30px;
}

.container {
  margin: 0 auto;
  max-width: 1450px;
}

.pending {
  display: flex;
  /* flex-wrap: wrap; */
  gap: 50px;
  align-items: flex-start;
}

.send__inner {
  background-color: #fff;
  padding: 28px 26px;
  max-width: 408px;
  border: 1px solid #dadce7;
  border-radius: 12px;

  max-height: 470px;
  overflow: hidden;
}

.send__inner * {
  display: block;
}

.send__inner span {
  color: #707277;
}

.send__title {
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 8px;
}

.send__desc {
  color: #595c64;
  margin-bottom: 20px;
}

.send__time-btn {
  font-size: 14px;
  color: #707277;
  margin-bottom: 4px;
  opacity: 0.6;
  border: none;
  background-color: transparent;
  padding: 5px 5px;
  cursor: pointer;
  transition: ease 0.3s;
}

.send__field {
  resize: vertical;
  width: 356px;
  padding: 12px 16px;
  min-height: 130px;
  border-radius: 8px;
  border: 1px solid #a2a4ac;
  margin-bottom: 8px;
}

.send__time {
  width: 356px;
  padding: 12px 16px;
  border-radius: 8px;
  border: 1px solid #a2a4ac;
  margin-bottom: 18px;
}

.send__time-inner {
  display: flex;
  justify-content: space-around;
}

.send__time-btn--active {
  opacity: 1;
  /* font-weight: bold; */
}

.send__btn {
  padding: 12px 124px;
  cursor: pointer;
  border: none;
  background-color: #8950e6;
  color: #fff;
  border-radius: 56px;
  transition: ease 0.3s;
  /* max-width: 356px; */
  font-size: 16px;
  font-weight: 400;
  white-space: nowrap;
}

.send__btn:hover {
  opacity: 0.9;
}

/* TABLE */

table {
  display: block;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  z-index: -100;
}

thead {
  display: block;
}
tbody {
  display: block;
}

.table-wrapper {
  max-height: 490px;
  overflow-y: auto;
  position: relative;
  padding: 0 26px 28px 26px;
  background-color: #fff;
  border: 1px solid #dadce7;
  max-width: 900px;
  clip-path: inset(0px round 12px);
}

.table {
  display: block;
  min-width: 845px;
  /* position: relative; */
  /* overflow: hidden; */
  border-radius: 12px;
  clip-path: inset(5px 0px 0px 0px);
  border-collapse: collapse;
  z-index: 1;
}

.table__sticky {
  position: sticky;
  top: 0;
  background-color: #fff;
  overflow: hidden;
  padding: 28px 0 0;
  z-index: 10;
}

.table__title {
  display: block;
}

.table__desc {
  display: block;
  margin-bottom: 16px;
  color: #595c64;
  /* margin-bottom: 32px; */
}

.none {
  display: none !important;
}

.table__empty {
  text-align: center;
}
.table__empty-text {
  font-weight: bold;
  font-size: 24px;
}

.table__header-inner {
  display: grid;
  grid-template-columns: 5fr 2fr 1.5fr;
  gap: 20px;
  align-items: center;
  padding: 8px 8px;
  border-bottom: 1px solid #dadce7;
  font-weight: bold;
  text-align: left;
}

.table__info-inner {
  display: grid;
  grid-template-columns: 5fr 2fr 1.5fr;
  padding: 8px 8px;
  gap: 20px;
  align-items: center;
  text-align: left;
}

.table__info-message {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 450px;
}

.table__header-remain,
.table__header-status,
.table__info-remain,
.table__info-status {
  text-align: left;
  padding: 12px 16px;
  font-weight: inherit;
}

tr {
  border-bottom: 1px solid #ddd;
}
